
@media (max-width: 1300px){
    .sec3{
        padding: 8rem 8rem;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
       }

       .header-content .right-header .name {
        // font-size: 3rem;
        padding: 3rem;
      }
    
       .contact-content-con .right-contact .info{
        flex-direction: column;
       }
    
       .contact-content-con .right-contact .info :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
       }   
       
       .header-content .right-header{
        padding-right: 12rem;
       }
}




@media (max-width: 940px){
    body {
        font-size: 1rem;
      }

    .controls{        
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        ul{
            display: flex;
            .control{
                margin: 0.7rem 1rem;
                width: 45px;
                height: 45px;
            }       
        }
    }

    .sec5, .sec2{
        padding: 3rem 10rem;
    }
    .sec4, .sec3{
        padding: 3rem 6.5rem;
    }
    // .section{
    //     padding: 7rem 6rem;
    // }

    header{
        padding: 0;
        .right-header{
            padding: 0rem !important;
            grid-row: 1;
            width: 90%;
            margin: 0 auto;
            .name{
                font-size: 2.5rem !important;
            }
        }
    }
    
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        min-height: 100vh;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .main-title{
        h2{
            font-size: 2.5rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 3rem;
            }
          }
       }

    .about-container{
        .about{
            h4{
                font-size: 1.3rem;
            }
        }
    }    

    .projects{
        grid-template-columns: 1fr;
        margin: 3rem auto;
        // padding-bottom: 2rem;
        // margin: 1.5rem;
        }

    .skills .skill i{
        font-size: 5rem;
    }
    
    .contact-content-con .right-contact .info{
    flex-direction: column;
    }
    
    .contact-content-con .right-contact .info :last-child{
    margin-left: 0;
    margin-top: 1.5rem;
    }
}



@media (max-width: 768px){
    header{
        padding: 0;
        .right-header{
            padding: 0rem !important;
            grid-row: 1;
            width: 90%;
            align-items: center;
            margin: auto;
            .name{
                font-size: 2.5rem !important;
            }
        }
    }
    .theme{
        width: 50px;
        height: 50px;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        min-height: 100vh;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }
    
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }
    .sec2{
        padding: 2rem 6rem;
    }
    .sec3{
        padding: 2.5rem 2.5rem;
    }
    .sec4 {
        padding: 4rem 6rem;
      }
    .sec5, .sec2 {
        padding: 3rem 4rem 8rem;
      }
    
    .projects{
        grid-template-columns: 1fr;
        margin: 3rem auto;
        // padding: 2rem 3.5rem !important;
        // padding-bottom: 6rem;
    }
    

    .skills{
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
    .skill i{
        font-size: 4rem;
    }
   }


   .contact-content-con{
    flex-direction: column;
    .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
    }
   }

   .contact-content-con .right-contact .info{
    flex-direction: column;
   }

   .contact-content-con .right-contact .info :last-child{
    margin-left: 0;
    margin-top: 1.5rem;
   }
   
   .main-title{
    padding-top: 1.5rem;
    h2{
        font-size: 2rem;
        span{
            font-size: 2rem;
        }
        .bg-text{
            font-size: 2.5rem;
        }
    }
}
}

@media (max-width: 480px){
    .sec2{
        padding: 2rem 4rem;
    }
    .sec3 {
        padding: 2rem 2rem;
      }
    .sec4 {
        padding: 2rem 2rem;
      }

      .projects{
        grid-template-columns: 1fr;
        margin: 3rem auto;
        }
    .main-title{
        padding-top: 1.5rem;
        h2{
            font-size: 1.8rem;
            span{
                font-size: 1.8rem;
            }
            .bg-text{
                font-size: 2rem;
            }
        }
    }
    .controls{        
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        ul{
            display: flex;
            .control{
                margin: 0.6rem 0.6rem;
                width: 45px;
                height: 45px;
            }       
        }
    }
    .skills{
        // grid-template-columns: 1fr;
        // padding-bottom: 6rem;
        .skill i{
            font-size: 4rem;
        }
       }
   
}



